html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

/* Base Styles */

 img{max-width:100%;height:auto;}
 
 html{font-size: 62.5%;} 
 body{
    color: #444242;
   font-size:1.8rem;
   background-image: linear-gradient(0deg, rgba(218,236,237,0.5) 0%, rgba(231,240,245,0.5) 21%),url(./assets/medium-yarn.jpg);
   background-size: cover;
  }

 .wrapper{
   max-width: 1200px;
   width: 90%;
   margin:0 auto;
 }

 /* Stripping Styles */

 ul,
 li{
   list-style: none;
 }

 /* Nav Styles */

nav{
  display: flex;
  justify-content: space-around;
}

 nav i{
   font-size: 3rem;
   color: #B62A3D;
 }

 .searchBar p{
   margin-bottom: 0;
   font-weight: 900;
 }
 .searchBar button{
   padding: 0.3em;
   margin: 2rem;
   background-color: #DAECED;
  }



 /* Header Styles*/

 h1{
   font-size: 10rem;
   text-transform: uppercase;
   text-align:center;
   letter-spacing: 30px;
   color: #B62A3D;
 }

 h1 span{
   font-size: 15rem;
   color: rgba(80,40,40, 1);
 }

 /* Gallery Styles */
 .gallery ul{
   display: flex;
  }

  h2{
    font-size: 3rem;
    margin-bottom: 0;
  }
  
    li{
      text-align: center;
      margin:.5em;
      padding: .5em;
      background-color: rgba(255,255,255, 0.4);
      flex-grow: 1;
    }
  
    li p:first-of-type{
      margin: 0.3rem;
    }
    li p:last-of-type{
      margin-top: 0.3rem;
    }
  
    button{
      border: 3px solid #DAECED;
      padding: 0.5em 2em;
      border-radius: 5rem;
      background-color: transparent;
      transition: ease-in-out .3s;
      
    }
  
    button:hover,
    button:focus{
      background-color:#B62A3D;
      border: 3px solid #B62A3D;
      color: white;
    }

    main{
      height: 80vh;
    }


    /* Styles Shopping Cart  */

 .shoppingCart{
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 0;
  right: 0;
  padding:0;
  height: 100vh;
  transition: all 0.3s ease-in;
 }

 .openMenu i {
  content: "\f00d";
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem;
  cursor: pointer;
}

.openMenu i:hover,
.openMenu i:focus{
  color: #B62A3D;
  transition: color 0.2s ease-in;
}
   
  




 .openMenu{
  position: fixed;
  top: 0;
  right: 0;
   width: 40%;
   padding: 3em;
   background-color: #DAECED;
   height: 100vh;
   transition: all 0.3s ease-in;
   text-align: center;
 }


 .openMenu button{
  background-color: #B62A3D;
  color: #DAECED;
 }

 .openMenu button:hover{
   background-color: transparent;
   color: #444242;
 }
 
 table{
   width: 100%;
  }

  /* Media Queries */

  @media(max-width:780px){
    h1{
      font-size: 8rem;

    }

    h1 span{
      font-size: 9rem;
    }

    
    .gallery ul{
      flex-wrap: wrap;
    }

    .openMenu{
      width: 55%;
    }
  }

  @media(max-width:375px){
    h1{
      font-size:6rem;
      letter-spacing: 15px;
    }

    h1 span{
      font-size: 7rem;
    }

    .openMenu{
      width: 100%;
    }

  }




  

  

   
